body {
  color: #222222;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: 'Seaweed Script', cursive, serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.subheading {
  color: #43464B;
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.header {
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 5px;
  height: 95%;
  width: 99%;
  background-image: url("images/tiverton-marina.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
} 

#top {
  display: flex;
  flex-direction: row;
  background-color: #DCDED9;
  justify-content: center;
  font-family: 'Seaweed Script', cursive, serif;
  font-size: 25px
}

.to-do-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 200px;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #DCDED9;
}

.to-do {
  margin: 20px;
  padding: 20px;
  width: 100%;
}

.to-do img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

.to-do img:hover {
  opacity: .5;
}

.your-guide {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 35px auto 0 auto;
  padding: 0;
  justify-content: center;
  background-color: #89939C;
  border-bottom: 8px solid #880808;
  width: 600px;
  align-items: center;
}

.your-guide h3 {
  font-family: 'Seaweed Script', cursive, serif;
  font-size: 50px
}

.guide-photo img {
  height: 300px;
  width: 200px;
  border-radius: 50%;
  border: 5px dotted #222222;
  opacity: 1;
  background-color: #DCDED9;
}

.guide-photo img:hover {
  opacity: .5;
}

.guide-text {
  margin: 0 10px 10px 0;
  padding: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greg {
  font-family: 'Creepster', cursive, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #880808;
}

.tour {
  font-weight: bold;
  font-style: italic;
}

.exclaim {
  font-style: italic;
}

footer {
  text-align: end;
  margin: 20px;
}

