body {
  color: #222222;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: 'Seaweed Script', cursive, serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.subheading {
  color: #43464B;
  font-family: font-family, 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
}

.header {
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 5px;
  height: 95%;
  width: 99%;
  background-image: url("images/tiverton-marina.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
} 

.activities {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 200px;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #DCDED9;
}

.to-do {
  margin: 20px;
  padding: 20px;
  width: 100%;
}

.to-do img {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;
}

.to-do img:hover {
  opacity: .5;
}

.your-guide {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: #89939C;
}

.guide-photo img {
  height: 300px;
  width: 200px;
  border-radius: 50%;
  border: 5px dotted #222222;
  opacity: 1;
  margin: 10px;
  padding: 10px;
}

.guide-photo img:hover {
  opacity: .5;
}

.guide-text {
  margin: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.greg {
  font-family:'MedievalSharp', cursive;
  font-style: italic;
  font-weight: bold;
  color: #BE5003;
}

.tour {
  font-weight: bold;
  font-style: italic;
}

.exclaim {
  font-style: italic;
}

footer {
  text-align: end;
  margin: 20px;
}

